@tailwind base;
@tailwind components;
@tailwind utilities;

/* .back { */

html {
  background-color: rgb(18 20 23);
}

@layer components {

  .home-presentation {
    padding: 3rem;
    width: 100%;
    background-image: url("/home.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-2 px-6 pb-10 pt-28 max-md:pb-32 sm:px-0;
    /* background: rgb(4, 4, 18);
    background: linear-gradient(144deg, rgba(4, 4, 18, 1) 0%, rgba(5, 30, 41, 1) 45%, rgba(11, 22, 26, 1) 58%, rgba(5, 34, 41, 1) 100%);
    background-attachment: fixed; */
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-[48.5%];
  }

  .community-card_btn {
    @apply px-5 py-1.5 text-small-regular !text-light-1 !important;
    background-color: #427d37 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] text-[12px] text-light-1 !important;
    background-color: #427d37 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }

  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-4 outline-none !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-glassmorphism px-6 py-3 backdrop-blur-lg;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 pr-32 max-md:hidden;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    font-size: .8rem;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 p-4;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger .cl-organizationPreview .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
  background-color: #427d37 !important;
}

/* Detect headers */
.important-h1 {
  margin-bottom: 2rem !important;
  color: #ffffff !important;
  font-size: 2rem !important;
  font-weight: 800 !important; /* Extra bold */
}

.important-h2 {
  margin-bottom: 1.5rem !important;
  color: #ffffff !important;
  font-size: 1.75rem !important;
  font-weight: 800 !important; /* Extra bold */
}

.important-h3 {
  margin-bottom: 1.25rem !important;
  color: #ffffff !important;
  font-size: 1.5rem !important;
  font-weight: 800 !important; /* Extra bold */
}

.important-h4 {
  margin-bottom: 1rem !important;
  color: #ffffff !important;
  font-size: 1.25rem !important;
  font-weight: 800 !important; /* Extra bold */
}


/* animation */

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #c0c4d05e;
  --c2: rgba(168, 239, 255, 0.1);
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}


*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: #707070;
}


/* HTML: <div class="loader"></div> */
/* link to the web site: https://css-loaders.com/dots/ */
.loader {
  height: 6px;
  aspect-ratio: 5;
  -webkit-mask: linear-gradient(90deg,#0000 ,#ffffff 20% 80%,#0000);
  background: radial-gradient(closest-side at 37.5% 50%,#ffffff20 94%,#0000) 0/calc(80%/3) 100%;
  animation: l48 .75s infinite linear;
}
@keyframes l48 {
  100% {background-position: 36.36%}
}